/* Intro section */
.home-intro {
  @apply flex flex-col grow justify-between;
  @apply min-h-screen;
  @apply px-8 pb-20;
  @apply text-center;
}

.home-intro__heading-wrapper {
  @apply flex flex-col grow items-center justify-center;
}

.home-intro__subheading {
  @apply font-normal;
}

.home-intro__actions {
  @apply flex flex-col items-center justify-center;
}

/* About section */
.home-about {
  @apply flex flex-col items-center justify-center;
  @apply min-h-screen;
  @apply px-8 py-32;
}

.home-about__copy {
  line-height: 2.2;
}

/* Skills section */
.home-skills {
  @apply flex flex-col items-center;
  @apply min-h-screen;
  @apply pt-20;
  @apply bg-gray-100;
  z-index: 1; /* required for bg and highlight z stacking */
}

.home-skills__heading-wrapper {
  @apply px-8;
}

.home-skills__content {
  @apply flex grow;
  @apply w-full;
}

/* Work section */
.home-work {
  @apply flex flex-col items-center;
  @apply min-h-screen;
  @apply px-8 py-20;
  scroll-margin-top: -1px;
}

/* Contact section */
.home-contact {
  @apply flex flex-col items-center;
  @apply min-h-screen;
  @apply px-8 py-20;
}
