/* Intro section */
.home-intro {
  @apply flex flex-col grow justify-between;
  @apply px-6 pb-10;
  @apply text-center;
  height: calc(100vh - 112px); /* height minus header */
}

.home-intro__heading-wrapper {
  @apply flex flex-col grow items-center justify-center;
}

.home-intro__subheading {
  @apply font-normal;
}

.home-intro__actions {
  @apply flex flex-col items-center justify-center;
}

/* About section */
.home-about {
  @apply flex flex-col items-center justify-center;
  @apply min-h-screen;
  @apply px-6 py-32;
}

.home-about__heading {
  @apply text-center;
}

.home-about__copy {
  @apply text-center;
  line-height: 2.2;
}

/* Skills section */
.home-skills {
  @apply px-6 py-20;
  @apply bg-slate-100;
}

.home-skills__heading {
  @apply font-bold text-center;
}

.home-skills__grid-wrapper {
  @apply flex justify-center items-center;
}

.home-skills__copy {
  @apply text-center;
  line-height: 2.2;
}

/* Work section */
.home-work {
  @apply flex flex-col items-center;
  @apply min-h-screen;
  @apply px-6 py-20;
  @apply bg-neutral-900;
  @apply text-slate-100;
  scroll-margin-top: -1px;
}

.home-work__heading {
  @apply font-bold text-center;
}

.home-work__subheading {
  @apply font-medium text-center leading-relaxed;
}

.home-work__github-link {
  @apply flex flex-col items-center;
  @apply opacity-60;
  @apply transition duration-150 ease-in-out;
}

.home-work__github-link .c-social-icon__path {
  @apply fill-white;
}

.home-work__github-link:hover {
  @apply opacity-100;
  @apply fill-primary;
}

.home-work__github-link:hover .c-social-icon__path {
  @apply fill-primary;
}
