/* Intro section */
.home-intro {
  @apply flex flex-col grow justify-between;
  @apply px-8 pb-10;
  @apply text-center;
  height: calc(100vh - 112px); /* height minus header */
}

.home-intro__heading-wrapper {
  @apply flex flex-col grow items-center justify-center;
}

.home-intro__subheading {
  @apply font-normal;
}

.home-intro__actions {
  @apply flex flex-col items-center justify-center;
}

.home-intro__scroll-link {
  @apply p-4;
  @apply bg-transparent rounded-full;
  @apply transition duration-150 ease-in-out;
}

.home-intro__scroll-link:hover {
  @apply bg-gradient-to-br from-secondary via-primary to-quaternary;
}

.home-intro__scroll-link:hover .home-intro__scroll-link-icon {
  @apply text-white;
}

.home-intro__scroll-link-icon {
  @apply w-8 h-8;
  @apply transition duration-150 ease-in-out;
}

/* About section */
.home-about {
  @apply flex flex-col items-center justify-center;
  @apply min-h-screen;
  @apply px-8 py-32;
}

.home-about__copy {
  line-height: 2.2;
}

/* Skills section */
.home-skills {
  @apply flex flex-col items-center;
  @apply min-h-screen;
  @apply px-8 py-20;
  @apply bg-gray-100;
  z-index: 1; /* required for bg and highlight z stacking */
}

.home-skills__grid-wrapper {
  @apply flex grow justify-center items-center;
}

/* Work section */
.home-work {
  @apply flex flex-col items-center;
  @apply min-h-screen;
  @apply px-8 py-20;
  scroll-margin-top: -1px;
}

/* Contact section */
.home-contact {
  @apply flex flex-col items-center;
  @apply min-h-screen;
  @apply px-8 py-20;
}
