.c-social-icon__path {
  @apply fill-gray-700;
  @apply transition duration-150 ease-in-out;
}

.c-social-icon--github:hover .c-social-icon__path {
  fill: url('#social-icon-github-gradient');
}

.c-social-icon--linkedin:hover .c-social-icon__path {
  fill: url('#social-icon-linkedin-gradient');
}

#social-icon-github-gradient,
#social-icon-linkedin-gradient {
  --color-primary: theme('colors.primary');
  --color-secondary: theme('colors.secondary');
  --color-quaternary: theme('colors.quaternary');
}
