.technologies-grid {
  @apply flex grow flex-wrap;
  gap: calc(50% - 96px);
  row-gap: 40px;

  @screen 768 {
    row-gap: 100px;
  }
}

.technologies-grid__wrapper {
  @apply flex flex-col;
  @apply py-12;

  @screen 768 {
    @apply pb-20;
  }
}

.technologies-grid__icon {
  @apply w-16 h-16;
  @apply fill-primary-100;
}
