.technologies-grid {
  @apply flex flex-wrap;
  gap: calc(50% - 96px);
  row-gap: 40px;

  @media screen(sm) {
    @apply gap-14;
    width: calc((64px * 3) + (56px * 2));
  }

  @media screen(smd) {
    @apply gap-20;
    width: calc((64px * 3) + (80px * 2));
  }
}

.technologies-grid__icon {
  @apply w-16 h-16 fill-gray-700;
}
